<template>
    <v-container text-xs-center>
        <v-layout row wrap justify-center>
            <v-flex xs12 style="max-width: 250px;">
                <v-img :src="image" aspect-ratio="1" style="border-radius: 50%"></v-img>
            </v-flex>
            <v-flex xs12 style="padding-top: 50px;">
                <h2 class="headerFont">Здрасти, аз съм Цвятко Иванов</h2>
                <p class="textFont"
                    style="padding-top:15px;"
                >Това и моят проект по избираемата дисциплина "Съвременни JavaScript рамки за изграждане на клиентски приложения"</p>
                <p class="text-sm-left textFont">Фак.№ 1801737011</p>
                <p class="text-sm-left textFont">
                    Gitlab
                    <a class="textFont" href="https://gitlab.com/Quetzalcoalt/vueflickrizbiraema">Link</a>
                </p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import img from '../assets/creatorAvatar.jpg'
export default {
    data() {
        return {
            image: img
        }
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300i');
.headerFont {
    font-family: 'Fira Sans', sans-serif;
}
.textFont {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
}
</style>
