<template>
    <div>
        <v-form>
            <v-container class="maxContainerWidth">
                <v-layout row wrap justify-center>
                    <v-flex xs12>
                        <v-text-field
                            @input="searchByTitleDelay"
                            v-model="tags"
                            box
                            label="Search image"
                            prepend-inner-icon="search"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form>
        <image-card-list v-show="isMainPageLoaded"></image-card-list>
        <v-flex
            class="text-xs-center"
            v-show="!isMainPageLoaded && !isAPIServerERROR"
        >
            <v-progress-circular
                indeterminate
                :size="150"
                color="red"
            ></v-progress-circular>
        </v-flex>
        <h1 v-show="isAPIServerERROR">Server Error!</h1>
        <v-flex class="text-xs-center" v-show="isLoadingMoreImages">
            <v-progress-circular
                indeterminate
                :size="150"
                color="red"
            ></v-progress-circular>
        </v-flex>
    </div>
</template>

<script>
import actions from '../store/action-types'
// import mutations from '../..store/mutation-types'
import imageCardList from '../components/ImageCardList.vue'
export default {
    name: 'home',
    data() {
        return {
            searchTitleTimeout: null,
            tags: '',
            page: 1,
            apiTimeout: false
        }
    },
    components: { imageCardList },
    methods: {
        searchByTitleDelay() {
            let vm = this
            clearTimeout(this.searchTitleTimeout)

            this.searchTitleTimeout = setTimeout(function() {
                if (!vm.tags == '') {
                    let data = {
                        tags: vm.tags,
                        page: undefined
                    }
                    vm.$store.dispatch(actions.CLEAR_IMAGES_LIST)
                    vm.$store.dispatch(actions.GET_IMAGES_WITH_TAGS, data)
                } else {
                    vm.$store.dispatch(actions.CLEAR_IMAGES_LIST)
                    vm.$store.dispatch(actions.GET_INITIAL_IMAGES)
                }
                this.page = 1
            }, 500)
        },
        scrollGetMoreImages() {
            //this works on everypage WTF!
            window.onscroll = () => {
                let bottomOfWindow =
                    document.documentElement.scrollTop + window.innerHeight ===
                    document.documentElement.offsetHeight

                if (bottomOfWindow && !this.apiTimeout) {
                    this.apiTimeout = true
                    this.page++
                    if (!this.tags == '') {
                        let data = {
                            tags: this.tags,
                            page: this.page
                        }
                        this.$store.dispatch(
                            actions.GET_MORE_IMAGES_WITH_TAGS,
                            data
                        )
                    } else {
                        this.$store.dispatch(actions.GET_MORE_IMAGES, this.page)
                    }
                }
                setTimeout(() => {
                    this.apiTimeout = false
                }, 1000)
            }
        }
    },
    mounted() {
        this.scrollGetMoreImages()
    },
    created() {
        this.$store.dispatch(actions.GET_INITIAL_IMAGES)
    },
    computed: {
        isMainPageLoaded() {
            return this.$store.state.mainPageLoaded
        },
        isAPIServerERROR() {
            return this.$store.state.apiServerError
        },
        isLoadingMoreImages() {
            return this.$store.state.loadingMoreImages
        }
    },
    beforeCreate() {
        this.$store.dispatch(actions.CLEAR_IMAGES_LIST)
        this.page = 1
    }
}
</script>
