<template>
    <v-layout>
        <v-flex xs12>
            <ImageComponent :image="getImageData"></ImageComponent>
        </v-flex>
    </v-layout>
</template>

<script>
import actions from '../store/action-types'
import ImageComponent from '../components/ImageComponent.vue'
export default {
    components: {
        ImageComponent
    },
    created() {
        this.$store.dispatch(actions.GET_IMAGE_DATA, this.$route.params.id)
    },
    methods: {
        goToUserProfile(userID) {
            this.$router.push({ name: 'user', params: { id: userID } })
        }
    },
    computed: {
        getImageData() {
            return this.$store.state.currentImage
        }
    },
    beforeCreate() {
        console.log('Current image cleared')
        this.$store.dispatch(actions.CLEAR_CURRENT_IMAGE)
    }
}
</script>

<style></style>
