<template>
    <v-container>
        <v-layout>
            <v-flex xs1>
                <v-avatar :tile="false" :size="64" color="grey lighten-4">
                    <v-img :src="getUserData.avatarUrl" alt="avatar">
                        <v-layout
                            slot="placeholder"
                            fill-height
                            align-center
                            justify-center
                            ma-0
                        >
                            <v-progress-circular
                                indeterminate
                                color="red"
                            ></v-progress-circular>
                        </v-layout>
                    </v-img>
                </v-avatar>
            </v-flex>
            <v-flex xs11>
                <p class="text-sm-left">{{ getUserData.username }}</p>
                <p class="text-sm-left">
                    Images: {{ getUserData.photosCount }}
                </p>
                <p class="text-sm-left">{{ getUserData.description }}</p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import actions from '../store/action-types'
export default {
    created() {
        this.$store.dispatch(actions.GET_USER_DATA, this.$route.params.id)
    },
    computed: {
        getUserData() {
            return this.$store.state.currentUser
        }
    },
    beforeCreate() {
        console.log('current user cleared')
        this.$store.dispatch(actions.CLEAR_CURRENT_USER)
    }
}
</script>

<style></style>
