<template>
    <div>
        <v-container fluid class="maxContainerWidth">
            <!-- <div v-for="images in getImages"> -->
            <v-layout row wrap>
                <v-flex
                    xs12
                    sm6
                    md4
                    lg4
                    wrap
                    v-for="(image, index) in getImages"
                    style="padding: 4px 5px 4px 5px"
                >
                    <image-card-item
                        :title="image.title"
                        :username="image.username"
                        :avatarUrl="image.avatarUrl"
                        :imageID="image.imageID"
                        :userID="image.userID"
                        :imageUrl="image.imageUrl"
                    ></image-card-item>
                </v-flex>
            </v-layout>
            <!-- </div> -->
        </v-container>
    </div>
</template>

<script>
import ImageCardItem from './ImageCardItem.vue'
var chunk = require('chunk')
export default {
    data() {
        return {}
    },
    components: {
        ImageCardItem
    },
    computed: {
        getImages() {
            return this.$store.state.imageList
        }
    }
}
</script>

<style>
.rowCustom {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnCustom {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columnCustom img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .columnCustom {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columnCustom {
        flex: 100%;
        max-width: 100%;
    }
}
</style>
