<template>
    <v-card style>
        <v-list-tile class="grow">
            <v-list-tile-avatar color="grey darken-3">
                <v-img
                    class="addHandForUrl"
                    :src="avatarUrl"
                    v-on:click="goToUserProfile"
                ></v-img>
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title
                    class="addHandForUrl"
                    style="color: gray;"
                    v-on:click="goToUserProfile"
                    >{{ username }}</v-list-tile-title
                >
                <div
                    class="addHandForUrl text-truncate"
                    v-on:click="goToImageDetails"
                >
                    {{ title }}
                </div>
            </v-list-tile-content>
        </v-list-tile>
        <v-img
            class="addHandForUrl"
            v-on:click="goToImageDetails"
            :src="imageUrl"
            @load="loaded"
            v-show="isLoaded"
        ></v-img>

        <v-flex class="text-xs-center">
            <v-progress-circular
                indeterminate
                :size="150"
                color="red"
                v-show="!isLoaded"
            ></v-progress-circular>
        </v-flex>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            isLoaded: false
        }
    },
    props: {
        title: String,
        username: String,
        avatarUrl: String,
        imageID: String,
        userID: String,
        imageUrl: String
    },
    methods: {
        goToUserProfile() {
            this.$router.push({ name: 'user', params: { id: this.userID } })
        },
        goToImageDetails() {
            this.$router.push({ name: 'image', params: { id: this.imageID } })
        },
        loaded() {
            this.isLoaded = true
        }
    }
}
</script>

<style></style>
