<template>
    <v-card>
        <v-img
            class="white--text"
            :src="image.imageUrl"
            @load="loaded"
            v-show="isLoaded"
        >
            <v-container fill-height fluid>
                <v-layout fill-height>
                    <v-flex>
                        <h3 class="text-sm-left">{{ image.title }}</h3>
                    </v-flex>
                    <v-flex>
                        <h3 class="text-xs-right">{{ image.datePosted }}</h3>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-img>
        <v-flex class="text-xs-center">
            <v-progress-circular
                indeterminate
                :size="150"
                color="red"
                v-show="!isLoaded"
            ></v-progress-circular>
        </v-flex>
        <v-card-title>
            <v-avatar color="grey darken-3">
                <v-img
                    class="addHandForUrl"
                    :src="image.avatarUrl"
                    v-on:click="goToUserProfile(image.userID)"
                ></v-img>
            </v-avatar>
            <p
                class="addHandForUrl text-sm-left"
                style="color: gray; padding-left: 10px; margin: inherit;"
                v-on:click="goToUserProfile(image.userID)"
            >
                {{ image.username }}
            </p>
        </v-card-title>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            isLoaded: false
        }
    },
    props: {
        image: Object
    },
    methods: {
        goToUserProfile(userID) {
            this.$router.push({ name: 'user', params: { id: userID } })
        },
        loaded() {
            this.isLoaded = true
        }
    }
}
</script>

<style></style>
