<template>
    <v-toolbar>
        <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
        <router-link :to="{ name: 'home' }" style="text-decoration: none;">
            <v-toolbar-title>Flickr search</v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn :to="{ name: 'home' }" active-class flat>Home</v-btn>
            <v-btn :to="{ name: 'about' }" active-class flat>About</v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {}
</script>

<style></style>
